@(message: String)

@main("Welcome to Play") {
	<div id="content">
   		<div class="grid-wrapper">
     			<div class="grid">
       			<div class="inner-block">
					<h1 class="heading-48">
						<span class="heading-27"></span>
						New design guides 
						<span class="phase-block">
    						<span class="alpha">alpha</span>
						</span>
         				</h1>

         				<div class="text">
						<p>These new guides</p>

						<h2 class="heading-36">GOV.UK elements</h2>

						<p>This guide explains how to style and arrange the basic elements like headings, paragraphs, images, form fields and buttons.</p>

						

						<h3 class="heading-24">How to use the design patterns</h3>

						
					</div>
				</div><!-- /.inner-block -->
			</div><!-- /.grid -->
		</div><!-- /.grid-wrapper -->
	</div>
}
