@(form: Form[Application.Login])

@main("Login") {
	@helper.form(routes.Application.index) {
		@if(form.hasGlobalErrors) { 
            <p class="error">
                @form.globalError.message
            </p>
        }
        
		<input type="text" placeholder="Username"/>
		
		<!--  
		<div class="text">
			<p>These new guides</p>
		
			<h2 class="heading-36">GOV.UK elements</h2>
		
			<p>This guide explains how to style and arrange the basic elements like headings, paragraphs, images, form fields and buttons.</p>
		
			<h3 class="heading-24">How to use the design patterns</h3>
		</div>-->
	}
}
