@* login Template File *@
@(user: play.data.Form[User])

@username = @{user("userName")}
@password = @{user("password")}

@main("Please sign in"){
    
    @if(flash.contains("message")) {
        <div id="message" class="message success">
            @flash.get("message")
        </div>
    }
    
    @if(user.hasErrors){
	<div id="validation-summary" class="validation-summary">
		<h1>Please check the form</h1>
		<ul>
		 @{var i = 0}
	     @for((_, errorsList) <- user.errors){
	     	
	     	@for(error <- errorsList){
	          <li><a href="#error@error.key">@error.message</a></li>
	          
	     	}
	     }
	     
	     
		</ul>
	</div>	
	}
	
	@if(flash.contains("registerLink")) {
        <a id="registerLinkLoginForm" href="@routes.UserRegistration.index()">@flash.get("registerLink")</a>
        <br/>
    }
    
    @helper.form(routes.Application.loginSubmit) {
    	<div id="form-style" class="left login>
	         <div @if(username.error.isDefined) { class="validation" }>
	         @username.error.map{ e => 
	            <span id="error@username.name" class="validation-message">@e.message</span>
	         }
	         @helper.inputText(username,
	             '_label -> "Username", 
	             'size -> 30, 'maxlength -> 30, 
	             'placeholder -> "User name here", 
	             '_showConstraints -> true,
	             '_showErrors -> false
	             )
	          </div>
	         <br>
	         <div @if(password.error.isDefined) { class="validation" }>
	         @password.error.map{ e => 
	            <span id="error@password.name" class="validation-message">@e.message</span>
	         }
	         @helper.inputPassword(password,
	             '_label -> "Password", 
	             'size -> 30, 'maxlength -> 30, 
	             'placeholder -> "Password here", 
	             '_showConstraints -> true,
	             '_showErrors -> false
	             )
	          </div>
	        
	        <div class="clear"/>
	        <br/>
	    
	        <div class="form-group">
              	<input class="button" type="submit" name="submitBtn" value = "Sign In"/>
	        	<br/>
	        	<p><a href="#">Reset</a></p>
            </div>
	        
	        
		</div>
    }
}
