@* login Template File *@
@(user: Form[User])

@username = @{user("userName")}

@main("Please sign in"){
    
    @if(user.hasErrors){
	<div class="validation-summary">
		<h1>Please check the form</h1>
		<ul>
	     @for((_, errorsList) <- user.errors){
	     	@for(error <- errorsList){
	          <li><a href="#error1">@error.message</a></li>
	     	}
	     }
		</ul>
	</div>	
	}
    
    @helper.form(routes.Application.loginSubmit) {
         <div @if(username.error.isDefined) { class="validation" }>
         @username.error.map{ e => 
            <span id="error1" class="validation-message">@e.message</span>
         }
         @helper.inputText(username,
             '_label -> "Username", 
             'size -> 30, 'maxlength -> 30, 
             'placeholder -> "User name here", 
             '_showConstraints -> true,
             '_showErrors -> false
             )
          </div>
        
        <div class="clear"/>
        <br/> 
        <input type="reset" name="resetBtn"/>
        <input type="submit" name="submitBtn" value = "Sign In"/>
    }
}
